node_modules
vendor
.git
.github
.agents
.claude
.codex
.cursor
.gemini
.junie
.fleet
.idea
.nova
.vscode
.zed
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/hot
*.md
tests
.phpunit.cache
.phpunit.result.cache
